html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    height: 100%;
}

button:active,
button:focus,
input:active,
input:focus,
textarea:active,
textarea:focus {
    outline: none;
}

input,
textarea {
    width: 98%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 16px;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    flex: 1 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 0 auto;
    border-bottom: 1px solid #666;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.navigation__main {
    margin-left: 40px;
}

.navigation__side {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navigation__link,
.navigation__status {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #666;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 20px;
}

.navigation__status {
    margin-right: 20px;
}

.navigation__link:visited,
.navigation__link:focus,
.navigation__link:active {
    color: #666;
    text-decoration: none;
}

.navigation__link:hover {
    text-decoration: underline;
    color: #ee3733;
}

.article {
    margin-bottom: 30px;
}

.article__title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 28px;
    padding-bottom: 16px;
}

.article__content {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 16px;
}

.article__side {
    display: flex;
    justify-content: space-between;
}

.article__author {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.article__date {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.article__label {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
}

.comments {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 16px;
}

.comments__label {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
}

.comments__item {
    display: flex;
    margin-bottom: 10px;
}

.comments__author {
    margin-right: 15px;
}

.comments__message {
    margin-right: 15px;
}

.comment-form {
    display: none;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.comment-form.active {
    display: block;
    transition: all 0.2s ease;
}

.comment-form__label {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
}

.button {
    margin-bottom: 40px;
    background-color: #ee3733;
    transition: all .4s ease-in-out;
    padding: 0 22px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.button:hover {
    cursor: pointer;
    background-color: #666;
}

.prompt {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 32px;
    margin: 10% 15%;
}

.form__login {
    width: 50%;
    margin: 0 auto;
}

.login__label {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
}

.form__signup {
    width: 50%;
    margin: 0 auto;
}

.signup__label {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
}

.footer {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    border-top: 1px solid #666;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
}

@media (max-width: 576px) {
    input,
    textarea {
        padding: 4px;
    }
    .navigation__link,
    .navigation__status {
        font-size: 12px;
    }
    .button {
        margin-bottom: 10px;
    }
    .article {
        margin-bottom: 15px;
    }
    .article__title {
        font-size: 20px;
    }
    .article__content {
        font-size: 16px;
    }
    .article__side {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .article__author {
        margin-bottom: 10px;
    }
    .comments {
        padding-bottom: 0;
    }
    .signup__label,
    .login__label,
    .article__label,
    .comments__label,
    .comment-form__label {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    input,
    textarea {
        width: 95%;
    }
    .wrapper {
        width: 100%;
    }
    .navigation__main {
        margin-left: 0;
    }
    .navigation__side {
        margin-right: 0;
    }
    .navigation__link:last-child {
        margin-right: 0;
    }
    .navigation__link,
    .navigation__status {
        font-size: 14px;
    }
    .button {
        margin-bottom: 10px;
    }
    .article {
        margin-bottom: 15px;
    }
    .prompt {
        font-size: 20px;
    }
    .footer {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    input,
    textarea {
        width: 95%;
    }
    .wrapper {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .wrapper {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        width: 1140px;
    }
}